#screen {
	width: 339px;
	height: 600px;
	margin: auto;
	background-color: #BFD7F7;
}

#header {
	padding-top: 10px;
	height: 80px;
	background: #6a96d2;
}

.item {
	display: inline;
	clear: both;
}

.item #title h1 {
	text-align: center;
	padding-left: 0px;
	font-size: 32px;
	font-family: 'Century Gothic', sans-serif;
	margin-top: -36px;
}

.item #arrow img {
	width: 12%;
	height: auto;
	padding-left: 15px;
	padding-top: 10px;
}

.item #menu img {
	width: 12%;
	height: auto;
	float: right;
	margin-top: -70px;
	padding-right: 15px;
}

button {
	width: 310px;
	height: 50px;
	float: center;
	font-size: 1em;
	font-family: 'Century Gothic', sans-serif;
	background: #edf4fe;
}

#button {
	padding-left: 15px;
	margin: 0 auto;
	padding-top: 15px;
}

#main {
	width: 100%;
	margin-top: 15px;
	padding-left: 15px;
}

#desc h2 {
	padding-top: 20px;
	font-size: 1em;
	text-align: center;
	font-family: "Century Gothic", sans-serif;
}

.category {
	width: 42%;
	display: inline-block;
	padding-right: 20px;
	padding-bottom: 20px;
}

.category h3 {
	font-family: "Century Gothic", sans-serif;
	font-size: 1em;
	text-align: center;
}

.category img {
	width: 100%;
	height: auto;
	margin-bottom: -15px;
}

a {
	text-decoration: none;
}
