#screen {
	width: 282px;
	height: 500px;
	margin: auto;
	padding: 30px;
	background-color: #BFD7F7;
	font-size: 20px;
	font-family:"Century Gothic", sans-serif;
}

#subtitle{
	font-style:italic;
	float:center;
}

.field {
	padding-top: 30px;
	padding-bottom: 10px;
}
